/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/

body,
html,
#gameWrapper,
.main,
.wrap {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

#result {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #ffd45a;
  z-index: 10;
  display: none;
}

#result .wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/resultbg.png) no-repeat;
}

.gameWrapper {
  display: none;
}

#main_num {
  font-size: 6rem;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 26rem;
  color: #fed700;
  font-family: FZLTCH;
}

.doc {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 34.5rem;
  color: #fff;
  font-size: 3rem;
  font-family: FZLTCH;
  max-width: 80%;
}

.doc.double_p {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40.5rem;
}

.page1 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/page1.jpg) no-repeat;
}

/**
* share
*/

.shareCover {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.shareCover .shareFlag {
  position: absolute;
  right: 5rem;
  top: 2rem;
  background-image: url(../img/sprite.png);
  background-position: -128rem 0;
  width: 5.5rem;
  height: 37.5rem;
}

.detail {
  position: absolute;
  top: 18rem;
  color: #ee4949;
  font-size: 6rem;
  text-align: center;
  font-weight: bold;
  width: 100%;
  font-family: FZLTCH;
}

.title {
  position: absolute;
  top: 25.7rem;
  color: #fed700;
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.run {
  top: 41.8rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url(../img/sprite.png);
  background-position: -102.2rem -52.2rem;
  width: 18.3rem;
  height: 10.1rem;
}

.doc_box {
  text-align: center;
  position: absolute;
  top: 50rem;
  font-size: 3.6rem;
  color: #fff;
  top: 37.8rem;
  width: 100%;
}

#specification1 {
  display: none;
  font-family: FZLTH;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.75);
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-image: url(../img/sprite.png);
  background-position: -133.5rem -23.9rem;
  width: 4.6rem;
  height: 4.5rem;
}

.shoot {
  background-image: url(../img/sprite.png);
  background-position: -102.2rem -52.2rem;
  width: 18.3rem;
  height: 10.1rem;
  position: absolute;
  left: 0;
  top: 60rem;
  right: 0;
  margin: auto;
}

.agian {
  position: absolute;
  left: 5rem;
  top: 65rem;
  width: 24.5rem;
  height: 10rem;
}

.basketbal {
  left: 5rem;
  top: 77rem;
  width: 24.5rem;
  height: 10rem;
  position: absolute;
}

.share {
  position: absolute;
  left: 34rem;
  top: 65rem;
  width: 24.5rem;
  height: 10rem;
}

.shooted {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 21.5rem;
  font-family: FZLTCH;
  color: #ffacac;
  font-size: 3rem;
}

.second_s {
  display: none;
  font-family: FZLTCH;
  color: #fed700;
  font-size: 3rem;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 34rem;
}

.second_s #second_num {
  color: #fed700;
  padding-left: 2rem;
}

.shooting {
  left: 34rem;
  top: 77rem;
  width: 24.5rem;
  height: 10rem;
  position: absolute;
}

.p2 {
  margin-top: 5rem;
}

#specification2 {
  display: none;
  font-family: FZLTH;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.75);
}

#specification2 .detail {
  top: 8rem;
}

#specification2 .title {
  top: 15.8rem;
}

#specification2 .doc_box {
  top: 23.5rem;
}

.ewm_box {
  width: 26.8rem;
  height: 27.2rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-left: 0.7rem;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ewm_wrapper {
  position: absolute;
  left: 17.1rem;
  top: 63.4rem;
  width: 26.8rem;
  height: 32.2rem;
}

.scanme {
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

.success_doc {
  font-family: FZLTH;
  font-size: 3.6rem;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 51.5rem;
  width: 100%;
}

#match_success {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  display: none;
  background: rgba(0, 0, 0, 0.8);
}

.gameover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  display: none;
  background: rgba(0, 0, 0, 0.7);
}

.gameover .overbg {
  background: url(../img/GAME-OVER.png) no-repeat;
  height: 7.9rem;
  width: 51.9rem;
  position: absolute;
  left: 5rem;
  top: 46rem;
}

.player {
  background-image: url(../img/sprite.png);
  background-position: 0 -35.4rem;
  width: 38.2rem;
  height: 54.5rem;
  position: absolute;
  left: 22.4rem;
  top: 33.3rem;
}

.sohu {
  background-image: url(../img/sprite.png);
  background-position: -71.4rem -103rem;
  width: 11.4rem;
  height: 5.7rem;
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.titleGame {
  background-image: url(../img/sprite.png);
  background-position: -64rem -89.9rem;
  width: 55.7rem;
  height: 12.8rem;
  position: absolute;
  left: 4.7rem;
  top: 7.6rem;
  display: none;
}

.titleGame.active {
  display: block;
}

.title_doc {
  background-image: url(../img/sprite.png);
  background-position: -37.6rem -103rem;
  width: 33.8rem;
  height: 6.6rem;
  position: absolute;
  left: 22.5rem;
  top: 22.5rem;
}

.start {
  background-image: url(../img/sprite.png);
  background-position: -102.2rem -35.4rem;
  width: 24.4rem;
  height: 11.9rem;
  position: absolute;
  left: 16rem;
  top: 83.2rem;
}

.single {
  background-image: url(../img/sprite.png);
  background-position: -98.3rem -82.1rem;
  width: 21.3rem;
  height: 5.2rem;
  position: absolute;
  left: 2rem;
  top: 39.5rem;
}

.single.active {
  background-image: url(../img/sprite.png);
  background-position: -102.2rem -62.3rem;
  width: 21.3rem;
  height: 5.2rem;
}

.double {
  background-image: url(../img/sprite.png);
  background-position: -102.2rem -74.2rem;
  width: 21.3rem;
  height: 5.2rem;
  position: absolute;
  left: 2rem;
  top: 46rem;
}

.double.active {
  background-image: url(../img/sprite.png);
  background-position: -102.2rem -69rem;
  width: 21.3rem;
  height: 5.2rem;
}